{
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@?\\w",
    "^src/(assets|components|helpers|http|views(?!/))",
    "^src/views/[^/]+",
    "^src/",
    "^\\.\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}